
#include \<behaviors.dtsi> 
#include \<dt-bindings/zmk/keys.h>
#define BASE 0 #define FN 1
/ { keymap { compatible = "zmk,keymap";
base_layer {
label = "BASE";
bindings = <
&kp Q &kp W &kp E &kp R &kp T P
SEMI
&kp A &kp S &kp D &kp F &kp G &kp Z &kp X &kp C &kp V &kp B DOT &kp SLASH
&mo FN &kp SPACE &kp Y &kp U &kp I &kp O &kp
&kp H &kp J &kp K &kp L &kp
&kp N &kp M &kp COMMA &kp
&kp ENTER &mo FN
>;
};
&trans
fn_layer {
label = "FN";
bindings = <
&rgb_ug_toggle &rgb_ug_eff_next &rgb_ug_bri_inc &rgb_ug_hue_inc
&rgb_ug_bri_dec &rgb_ug_sat_inc &trans &trans &trans
&bootloader &reset &trans &trans &trans
&trans &trans &trans &trans
>;
};
};
};