name: Build ZMK Sofle

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:3.2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize ZMK
        run: |
          west init -m https://github.com/zmkfirmware/zmk.git
          west update
          west zephyr-export

      - name: Build Left
        run: |
          west build -s zmk/app -d build/left \
            -b promicro_nrf52840 \
            -- -DSHIELD=sofle_left \
               -DZMK_CONFIG=${GITHUB_WORKSPACE}/config

      - name: Build Right
        run: |
          west build -s zmk/app -d build/right \
            -b promicro_nrf52840 \
            -- -DSHIELD=sofle_right \
               -DZMK_CONFIG=${GITHUB_WORKSPACE}/config

      - name: Collect UF2
        run: |
          cp build/left/zephyr/zmk.uf2 sofle_left.uf2
          cp build/right/zephyr/zmk.uf2 sofle_right.uf2

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: sofle-zmk-firmware
          path: |
            sofle_left.uf2
            sofle_right.uf2